always-auth=true
@componly:registry=https://npm.pkg.github.com/Componly-co/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/Componly-co/:_authToken=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
registry=https://registry.npmjs.org
