always-auth=true
@componly:registry=https://npm.pkg.github.com/Componly-co/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/Componly-co/:_authToken=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
registry=https://registry.npmjs.org
